<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登陆页面1209</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        /* background: pink url(./images/3.jpg); */
        /* background: ; */
        background: #a8cef3;
        background-size: 40%;
        /* background-size: contain; */
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
      a {
        text-decoration: none;
      }
      .a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -10px;
        font-style: 24px;
        width: 350px;
        height: 500px;
        background-color: rgb(0, 0, 0, 0.4);
      }
      .b {
        width: 300px;
        height: 450px;
        overflow: hidden;
      }
      .c {
        font: 900 40px;
        margin: 30px 0;
        text-align: center;
        letter-spacing: 5px;
        color: #fff;
        font-size: 30px;
      }
      .d {
        margin-top: 100px;
      }
      .e {
        width: 280px;
        margin-bottom: 20px;
        outline: none;
        border: 0;
        padding: 12px;
        font: 900 16px;
        background-color: rgb(0, 0, 0, 0.5);
      }
      .f {
        text-align: center;
        height: 24px;
        padding: 12px;
        font: 900px 20px;
        border-radius: 10px;
        background-color: rgb(168, 206, 243, 0.3);
      }
      .f:hover {
        transition: 1s;
        background-color: rgb(168, 206, 243, 0.7);
      }
      .f a {
        color: #fff;
      }
      .g {
        margin: 33px;
        font-size: 14px;
      }
    </style>
</head>
<body>
  <div class="a">
    <div class="b">
      <div class="d">
        <form method="post" action="/login">
          <div>
            <label for="item">用户名</label>
            <input type="text" class="e" name="username" placeholder="请输入账号">
          </div>
          <div>
            <label for="password">密码</label>
            <input type="password" class="e" name="password" id="" placeholder="请输入密码">
          </div>
          <button type="submit" style="height: 25px; width: 100px; background-color: aliceblue;"> 登 录 </button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>